
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/users/banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/1.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/2.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/3.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/4.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/5.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/6.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/7.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/8.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/9.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div><div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/10.webp" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Remera ALPHAVILLE</h2>
							<p>Remera de Alphaville con onda retro, ideal para fanas del synth-pop y para tirar facha con estilo ochentoso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
 	<!-- /Footer -->
	<%- include('./partials/footer') %>
	<!-- /Footer -->
