
	<%- include('./partials/head') %>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->


	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<div class="col-12 col-md-6 offset-md-3">
				<form action="/" method="GET" class="product-form">
					<div class="form-group">
						<label for="image">Imagen del producto (URL):</label>
						<input type="text" id="image" name="image" class="form-control" required>
					</div>
					
					<div class="form-group">
						<label for="name">Nombre del producto:</label>
						<input type="text" id="name" name="name" class="form-control" required>
					</div>
					
					<div class="form-group">
						<label for="description">Descripción:</label>
						<textarea id="description" name="description" class="form-control" rows="4" required></textarea>
					</div>
					
					<button type="submit" class="btn btn-primary">Agregar producto</button>
				</form>
			</div>
		</div>
	</div>
	<!-- /Footer -->
	<%- include('partials/footer') %>
	<!-- /Footer -->
