<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../public/images/logo-mercado-liebre.jpg" />
	<title> Mercado Libre</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
	<!-- Header -->
	<% if (locals.isLoggedIn) { %>
		<%- include('partials/headerLogueado', { user, isLoggedIn }) %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->


	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<div class="col-12 col-md-6 offset-md-3">
				<form action="/product-add" method="GET" class="product-form">
					<div class="form-group">
						<label for="image">Imagen del producto (URL):</label>
						<input type="text" id="image" name="image" class="form-control" required>
					</div>
					
					<div class="form-group">
						<label for="name">Nombre del producto:</label>
						<input type="text" id="name" name="name" class="form-control" required>
					</div>
					
					<div class="form-group">
						<label for="description">Descripción:</label>
						<textarea id="description" name="description" class="form-control" rows="4" required></textarea>
					</div>
					
					<button type="submit" class="btn btn-primary">Agregar producto</button>
				</form>
			</div>
		</div>
	</div>
	<!-- /Footer -->
	<%- include('partials/footer') %>
	<!-- /Footer -->
</body>

</html>
