
 <%- include('./partials/head') %>
<%- include('./partials/header') %>
	<!-- /Header -->
	<!-- product detail BASE DE MAQUETA-->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="/profile">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/1.webp" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Remera de Alphaville con un diseño retro bien ochentoso, perfecta para quienes aman el synth-pop y quieren llevar el estilo de ‘Forever Young’ a todos lados. Súper cómoda, ideal para recitales, salidas con amigos o simplemente para tirar toda la facha mientras escuchás tus temas favoritos.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/users/5.avif" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Elena Suárez: </a> </strong>
								La estampa se mantiene perfecta después de varios lavados.</p>
							</div>
						</article>
						<article>
							<img src="/images/users/4.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Carlos Martín</a> </strong>
									Ideal para regalar, mi novia la amó.</p>
							</div>
						</article>
						<article>
							<img src="/images/users/3.jpeg"" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Estilo moderno con colores vibrantes y tipografía ochentosa.
									</p>
							</div>
						</article>
						<article>
							<img src="/images/users/2.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Valentina Ruiz </a> </strong>
									Me encanta cómo se siente la tela, súper suave.</p>
							</div>
						</article>
						<article>
							<img src="/images/users/images.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Brian Gomez </a> </strong>
									Aguante Forever Young
								</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	
	<!-- /Footer -->
	<%- include('./partials/footer') %>
	<!-- /Footer -->
